.action-bar {
	padding: 10px;
}

.form-container {
	margin: 20px;
}

select.error, textarea.error, input.error {
    background-color: #d9534f;
    color: black;
}

.error {
    color: #d9534f;
    display:block;
}

.events-container {
  min-height: 2000px;
  padding-top: 100px;
}

.search {
  display: inline-block;
}