<template name="addProvidersPage">
	{{#with provider}}
	<div class="header">Content Providers Management</div>
	{{> mainMenu}}
	<div class="container">
		<form class="addProvider">
			<div class="forms">
				{{#if Template.subscriptionsReady}}
				<b>{{ action }} Content Provider {{provider.name}}</b> <br>
				{{else}}
				Loading...
				{{/if}}
				<input name="hebrewName" type="text" value="{{provider.nameHebrew}}">
				<label for="hebrewName">Hebrew Name</label> <br>
				<input name="englishName" type="text" value="{{provider.name}}">
				<label for="englishName">English Name</label>  <br>
				<label for="select">Type</label><br>
				<div class="styled-select" >
					<select name="typeSelector">
						{{#each option in options}}
						<option value="{{option.value}}" selected={{isSelected option.value}}>{{option.label}}</option> 
						{{/each}}
					</select>
				</div><br>
				{{#if isEdit}}
				<button type="submit" class="saveProvider">Save Changes</button>
				{{else}}
				<button type="submit" class="addProvider">Create</button>
				{{/if}} 
			</div>
		</form>
	</div>
	{{/with}}
</template>