<template name="mainLayout">
<!-- 	<header>
		<h1>PlayaInfo</h1>
	</header> -->
	<body>
		<div class="background">
			{{>Template.dynamic template=content}}
		</div>
	</body>
	<!-- <footer>Powered by MidburnIT</footer> -->
</template>


<template name="mainMenu">
	<div class="main-menu">
		<div class="menu-button"><a href="">Main</a></div>
		<div class="menu-button"><a href="/provider">Add</a></div>
<!-- TODO: Known Issue: clicking works only on text, not on buttons -->
		<div class="menu-button"><a href="/provider">Add Bulk</a></div>
		<div class="menu-button"><a href="/providers">Groups</a></div>
		{{> loginButtons align="right"}}
	</div>
</template>