<template name="mainLayout">
<!-- 	<header>
		<h1>PlayaInfo</h1>
	</header> -->
	<body>
		<div class="container">
			{{>Template.dynamic template=content}}
		</div>
	</body>
	<!-- <footer>Powered by MidburnIT</footer> -->
</template>


<template name="mainMenu">
	<ul class="nav nav-tabs">
		<li role="presentation" class="menuListContentProviders {{#if isProviders}}active{{/if}}"><a href="#">Content Providers</a></li>
		<li role="presentation" class="disabled {{#if isAddProviderBulk}}active{{/if}}"><a href="/">Add Bulk</a></li>
		<li role="presentation" class="disabled {{#if isGroups}}active{{/if}}"><a href="/">Groups</a></li>
		<!-- {{> loginButtons align="right"}} -->
	</ul>
</template>