<template name="event">
	<tr>
		<td>{{title}}</td>
		<td>{{title_hebrew}}</td>
		<td>{{formatTime start_date start_time}}</td>
		<td>{{formatTime end_date end_time}}</td>
		<td id="tdcf"><span class="icon-mark" id="marked" hidden={{displayRecurring}}></span></td>
		<td id="tdcf"><span class="icon-mark" id="marked" hidden={{displayAllDay}}></span></td>
		<td>
	      <div class="pull-right">
	        <button class="btn btn-sm btn-primary eventEditButton" id="edit"><i class="fa fa-pencil"></i>&nbsp; Edit</button>
	        <button class="btn btn-sm btn-danger eventDeleteButton" id="delete"><i class="fa fa-trash"></i>&nbsp; Delete</button>
	     </div>
	   </td>
	</tr>
</template>

<template name="viewEventsPage">
	{{#with provider}}
	<h1>Events Management - {{name}} - {{type}}</h1>
		<div class="container">
			<h4>Hello, Welcome to Playainfo.</h4>
			<h5>Here you can create and edit events belonging to {{name}}.</h5>
		</div>
	    <div class="form-inline action-bar">
	      <div class="form-group">
	        <input type="search" class="search form-control" placeholder="filter events">
	      </div>

	      <div class="form-group pull-right">
	      	<a class="btn btn-primary" href="/add-event/{{uuid}}"><i class="fa fa-calendar"></i> Create New Event</a>
	        <button type="button" id="deleteAll" class="form-control btn btn-danger eventDeleteAllButton clean-events {{#unless events.count}}disabled{{/unless}}">
	          <i class="fa fa-remove"></i> Delete all
	        </button>
	      </div>
	    </div>
     	<table class="table table-condensed table-striped table-hover">
     	<thead>
			<tr>
				<th id="evnt-he-name">English</th>
				<th id="evnt-en-name">Hebrew</th>		
				<th>Start</th>
				<th>End</th>
				<th>Recurring</th>	
				<th>All Day </th>		
				<th colspan="3">Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#if Template.subscriptionsReady}}
				{{#each events}}
					{{> event}}
				{{else}}
					No events, try adding some!
				{{/each}}
			{{else}}
				Loading...
			{{/if}}
		</tbody>
		</table>



<!-- 	<h2>events</h2>
	{{#if Template.subscriptionsReady}}
	{{#each eventsCollection}}
	{{> event}}
	{{else}}
	No events, try adding some!
	{{/each}}
	{{else}}
	<p>Loading...</p>
	{{/if}} -->
	{{/with}}
</template>