<template name="event">
	<tr>
		<td>{{title}}</td>
		<td>{{title_hebrew}}</td>
		<td>{{formatTime start_date start_time}}</td>
		<td>{{formatTime end_date end_time}}</td>
		<td id="tdcf"><span class="icon-mark" id="marked" hidden={{displayRecurring}}></span></td>
		<td id="tdcf"><span class="icon-mark" id="marked" hidden={{displayAllDay}}></span></td>
		<td>
			<span class="icon-pencil eventEditButton" id="edit"></span>
			<span class="icon-trash eventDeleteButton" id="delete"></span>
		</td>
	</tr>
</template>

<template name="viewEventsPage">
	{{#with provider}}
	<div class="header">Events Management - {{name}} - {{type}}</div>
	<div class="container">
		<div class="hello">
			<b>Hello, Welcome to Playainfo.</b> <br>
			Here you can create and edit events belonging to {{name}}. <br><br>
			<a href="/add-event/{{uuid}}">
				<button type="button" class="crt-evnt">Create New Event</button>
			</a>
		</div>

		<br><br><br>
		<input type="search" class="search-evnt-name" placeholder="search Event name">
		<input type="submit" value="search">
		<button type="button" class="eventDeleteAllButton clean-events">
			<span class="icon-delete" id="clean-events"></span> erase all
		</button> 

		<div class="evnt-table">
			<table>
				<tr>
					<th id="evnt-he-name">English</th>
					<th id="evnt-en-name">Hebrew</th>		
					<th>Start</th>
					<th>End</th>
					<th>Recurring</th>	
					<th>All Day </th>		
					<th colspan="3">Actions</th>
				</tr>
				{{#if Template.subscriptionsReady}}
					{{#each events}}
						{{> event}}
					{{else}}
						No events, try adding some!
					{{/each}}
				{{else}}
					Loading...
				{{/if}}
			</table>
		</div>
	</div>
	{{/with}}
</template>